<!DOCTYPE html>  

<html lang="en">  

<head>  

    <title>Update</title>  

</head>  

<body>  

  <form method="POST" action="/inventory/update/{{inventory_selection.id}}">  

          {% csrf_token %}  

      <h3>Update Details</h3>   
 
      Item Name:
 
      <input type="text" name="item_name" required maxlength="255" value="{{ inventory_selection.item_name }}" />  

      <br>

      Item Quantity: 

      <input type="number" name="item_quantity" value="{{ inventory_selection.item_quantity }}" />  

      <br>

      <button type="submit">Update</button>  

  </form>  

  <br>
 
  <a href="/inventory/show">Return To All Item View</a>

</body>  

</html>  